.music {
    width: 100%;
    display:flex;
    flex-direction:column;
}

.music-item {
    margin: 0 20% 0;
}

.music-item-title{
    font-weight: 750;
    background-color: #D0B38D;
}

.music-item-body {
    padding: 1vh 2vw 1vh;
}
.music-item-content {
    float: left;
    padding: 0 2vw 0;
}

img {
    height: 100px;
    width: auto;
    float:left;
}