table {
    font-family:system-ui;
    font-size: 1.17em;
    margin: 0 5vw 0;
  }

tr:nth-child(odd){background-color: #D0B38D;}
tr:nth-child(even){background-color: #F5F4DD;}
td {
    padding: 2vh 2vw 2vh;
}

.menu-item {
    text-align:center;
}
