table {
    font-family:system-ui;
    margin: 0 5vw 0;
  }

tr:nth-child(odd){background-color: red;}
tr:nth-child(even){background-color: #f2f2f2;}
td {
    padding: 2vh 2vw 2vh;
}

.menu-item {
    text-align:center;
}
